/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container , .content{
    width: 80%;  /*pega o logo e as redes sociais a as afasta da borda*/
    margin: 0 auto; /* Centraliza o conteúdo */
  }
  
  /* Cabeçalho */
  .menu-principal  {
    background-color: #333; /* Cor de fundo do cabeçalho */
    padding: 20px 0; /* Espaçamento interno do cabeçalho */
  }
  
  .header-1 {
    display: flex;
    justify-content: space-between; /* Distribui o espaço entre logo e redes sociais */
    align-items: center; /* Alinha os elementos verticalmente */
  }
  
  .logo img {
    max-width: 150px; /* Define a largura máxima da logo */
  }
  
  .redes-sociais ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex; /* Alinha os itens da lista horizontalmente */
  }
  
  .redes-sociais li {
    margin-right: 20px; /* Espaçamento entre os itens da lista */
  }
  
  .redes-sociais img {
    width: 20px;
    height: 20px;
  }
  
  /* Menu de navegação */
  nav {
    background-color: #ffffff; /* Cor de fundo do menu */
    color: #8b8b8b; /* Cor do texto do menu */
    padding: 10px ; /* Espaçamento interno do menu */
  }

  
  nav ul {
    list-style: none;  /*tira os pontos do texto*/
    /*margin: 0;*/
   /* padding: 0;*/
    display: flex;
    justify-content: center; /* Centraliza os itens do menu */
  }
  
  nav li {
    margin: 0 15px; /* Espaçamento entre os itens do menu */
  }
  
  nav a {
    text-decoration: none; /* Remove a linha de baixo do texto do link */
    color: #6d6d6d; /* Cor do link */
    /*text-transform: uppercase; /* Transforma o texto em maiúsculas */
    /*font-weight: bold;*/
  }

 .container .menu li a:hover{
        color: #00bac6;    /*quando coloco o punteiro vai ficar nacor azul*/
        background-color: #e7e1e1;
        padding: 10px;
        border-bottom: 3px solid #00bac6; /*quando coloco o ponteiro vai fazer umalinha azul*/
       
      }
  
  /* Barra de pesquisa */
  #divBusca {
    position: relative;
    width: 350px;
    margin: 10px auto; /* Centraliza a barra de pesquisa */
  }
  
  #txtBusca {  /*caixa de busca*/
    width: 93%;
    padding: 10px;
    border: 3px solid #c1b7b7;
    border-radius: 5px;
  }
  
  #btnBusca {    
    position: absolute;  /*deixa a lupa do lado do busca*/
    top: 50%;            /*deixa a lupa alinhada com buscca*/
    right: 10px;         /* deica a lupa do lado dir*/
    transform: translateY(-50%); /* Centraliza o ícone d alupa verticalmente */
    cursor: pointer;            
    width: 30px;            /*quadrado da lupa*/
    height: 30px;
    border: none
    
  }

  .linha-cinza{
    border-bottom: 5px solid#ddd5d5; 
    padding: 5px; 
  }

.slider-principal img{
    width:1365px;
    height: 453px;
}
 
/* Seta para a esquerda */
.slick-prev {
    position: absolute;
    font-size: 0;  /*o nome previous fica zerado desaparece*/
    border: none;  /*sume o retangulo em contorno do elemento*/
    width: 25px;
    height: 51px;
    background-color: transparent;   /*o fundo daimagem desaparece*/
    background-image: url("../img/arrowleftseta.png");
    top: 35%;
    left: 10%;   /*para qeu fique no lado esq exatamente*/
    z-index: 9;  
}
 
  /* Seta para a direita */
.slick-next {
    position: absolute;
    font-size: 0;  /*o nome previous fica zerado desaparece*/
    border: none;  /*sume o retangulo em contorno do elemento*/
    width: 25px;
    height: 51px;
    background-color: transparent;   /*o fundo daimagem desaparece*/
    background-image: url("../img/arrowrigthseta.png");
    top: 35%;
    right: 10%;   /*para qeu fique no lado esq exatamente*/
}
            /*olhar*/
.slick-list{
    width: 100%!important;
}

   /* olahar depois tira a barra de rodaje*/
   .slick-initialized{
    overflow: hidden;
}

.slick-dots{
    margin: 0 auto;
    width: 50%;
    position: relative;
    left: 22%;
   
}


.slick-dots li {
    display: inline-block;  /*para ficar um dolado do outro*/ 
    padding-left: 10px; 
 }

/*mofdificar as barras de rolagem que ficaram embaixo da imagem principal*/
.slick-dots li button{
    font-size: 0px;  /*retira os numeros*/
    border: 5px solid #fff;
    border-radius: 50%;
    width: 22px;
    height: 22px; 
   
    cursor: pointer; 
    background: transparent;
}

.slick-dots{
    margin: auto;
    width: 50%;
    position: absolute;
    left: 43%;
    top: 88%;
    margin: 5px;  
}

li.slick-active button{
    background-color: #00bac6;
}


.text-destaque{
    text-align: center;
}
.text-destaque h1{
    margin-top: 50px;
    color: #818181;
    font-size: 30px;
    text-transform: uppercase;
}
.text-destaque span{
    color: #646464;
}
.text-destaque p{
    color: #9a9a9a;
    font-size: 15px;
}

.col-3{
    width: 29%;
    float: left;
    position: relative;
    padding-left: 17px;
    padding-right: 15px;
}

.bloco-text{   /*altura dos accesorios e video game*/
    margin-top: 5em;
}

h3{
    color: #646464;
   
}

h3 {
    font-weight: normal!important;
}

.content {
    color: #646464;
    float: left;
    margin-left: 15%; 
    margin-top: 100px;    
}





footer {
  width: 100%;
  color: #333;
}

.footer-content {
  background-color: #d2e6e8;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 3rem 3.5rem;
}

.footer-contacts, .footer-products, .footer-subscribe {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.footer-contacts h2 {
  margin-bottom: 0.75rem;
}

.footer-social-media {
  display: flex;
  gap: 2rem;
  margin-top: 1.5rem;
}

.footer-social-media .footer-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.5rem;
  width: 2.5rem;
  color: var(--color-neutral-40);
  border-radius: 50%;
  transition: all 0.4s;
}

.footer-social-media .footer-link i {
  font-size: 1.25rem;
}

.footer-social-media .footer-link:hover {
  opacity: 0.8;
}

#instagram {
  background: linear-gradient(#7f37c9, #ff2992, #ff9807);
}

#facebook {
  background-color: #4267b3;
}

#whatsapp {
  background-color: #6cd793;
}

.footer-list {
  list-style: none;
  padding: 0;
}

.footer-list .footer-link {
  color: #333;
  transition: all 0.4s;
}

.footer-list .footer-link:hover {
  color: #7f37c9;
}

#footer_subscribe p {
  color: #333;
}

#footer_copyright {
  display: flex;
  justify-content: center;
  background-color: #4267b3;
  font-size: 0.9rem;
  padding: 1.5rem;
  font-weight: 100;
}

.footer-link {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .footer-content {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
  }
}

@media screen and (max-width: 426px) {
  .footer-content {
    grid-template-columns: 1fr;
    padding: 3rem 2rem;
  }
}